<%= form_for(@message, html: { class: "form-horizontal" }) do |f| %>
    <% if @message.errors.present? %>
        <div class="alert alert-danger">
            <%= alert %>
            <ul>
                <% @message.errors.full_messages.each do |full_message| %>
                    <li>
                        <%= full_message %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <label class="col-sm-2">名前</label>
        <div class="col-sm-12">
        <%= f.text_field :name, :class => "form-control", :rows => "1" %>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">内容</label>
        <div class="col-sm-12">
        <%= f.text_area :body, :class => "form-control", :rows => "3" %>
        </div>
    </div>
    <%= f.submit "送信", :class => "btn btn-primary btn-lg btn-block center-block" %>
<% end %>